body {
  font-family: 'PT Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}

header {
  background-color: rgb(248, 244, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  height: auto;
  max-height: 50px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #0A3641;
  margin-bottom: 5px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

nav ul li {
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #0A3641;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0A3641;
  color: #fff;
}

nav ul li a:hover {
  background-color: #184F5D;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ .hamburger-icon {
  background-color: transparent;
}

#hamburger-menu:checked ~ .hamburger-icon span {
  background-color: #0A3641;
}

#hamburger-menu:checked ~ nav ul {
  display: flex;
}

footer {
  background-color: #0A3641;
  color: white;
  padding: 10px 0;
}


/* Home page */

.homeIMG {
  background-image: url(/images/people-2591874_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.imgText {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.imgText h1 {
  color: #0A3641; 
  font-size: 32px; 
}


/* About us */

.about {
  text-align: center;
}

.about img {
  border-radius: 5px;
  max-width: 60%;
}

/* Contact Us */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: auto;
  line-height: 29px;
  column-gap: 70px;
}

.contact form {
  margin-bottom: 20px;
}

.contact img {
  max-width: 100%;
  height: auto;
}

.contact_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0A3641;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
}


/* Check out */

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: auto;
  line-height: 29px;
  column-gap: 70px;
}

.checkout form {
  margin-bottom: 20px;
}

.checkout .checkout_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0A3641;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
}



/* Thank you */

.thankyou {
  text-align: center;
}

.thankyou img {
  border-radius: 5px;
  width: 60%;
}

.thankyou_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0A3641;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
}


/* Shop page */

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center; 
  align-items: center; 
  text-align: center;
}
  
.products-list > div {
  text-align: center;
}
  
.product {
  display: flex;
  align-items: flex-start;
}
  
.product img {
  width: 200px;
  height: auto;
  margin-right: 10px;
}
  
.product .details {
  flex: 1;
  text-align: left;
}
  
.product .details h2 {
  margin-bottom: 10px;
}
  
.product .details h3 {
   margin-bottom: 15px;
}
  
.product .details .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0A3641;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
}


/* Product specific page */

.product_specific {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
  
.product_specific img {
  width: 400px;
  height: auto;
  margin-right: 20px;
}
  
.product_specific .details {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.product_specific .details h2 {
  margin-bottom: 10px;
}
  
.product_specific .details h3 {
  margin-bottom: 15px;
}
  
.product_specific .button_specific {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0A3641;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 20px; 
}
 
@media (max-width: 767px) {

  .logo img {
    max-height: 90px;
  }

  .contact {
    flex-direction: column;
    column-gap: 0;
  }
  
  .contact form {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .contact img {
    max-width: 70%;
    margin-bottom: 20px;
  }

  .about img {
    max-width: 70%;
    margin-bottom: 20px;
  }

  .products-list {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .product img {
    width: 60%;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product_specific {
    flex-direction: column;
    align-items: center;
  }

  .product_specific img {
    width: 60%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .product_specific .details {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .thankyou img {
    width: 80%;
    height: auto;
}

nav {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-icon {
  display: block;
}

nav ul {
  flex-direction: column;
  padding: 0;
}

nav ul li {
  margin-right: 0;
  margin-bottom: 10px;
}

}


@media (min-width: 768px) {

  header {
    flex-direction: column;
    justify-content: space-between;
  }

  nav ul {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 0;
  }

  .logo img {
    max-height: 120px;
  }

  .contact {
    flex-direction: row;
  }
  
  .contact form {
    margin-right: 20px;
  }
  
  .contact img {
    max-width: 50%;
  }

  .products-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .product img {
    width: 200px;
    height: auto;
    margin-right: 10px;
  }

  .product_specific {
    flex-direction: row;
    justify-content: center;
  }

  .product_specific img {
    width: 400px;
    height: auto;
    margin-right: 20px;
  }
  
  .product_specific .details {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .thankyou img {
    width: 800px;
    height: auto;
  }
}

